<div class="tile is-parent">
  <section class="container">
    <div class="flip-container" [class.voted]="flipped">
      <div class="flipper">
        <div class="front">
          <div class="card">
            <div class="card__sim"></div>
            <div class="card__number">
                {{ cardNumberFormatted() }} 
            </div>
            <div class="card__little-number">
              1234
            </div>
            <div class="card__little-letter">
              Valid Thru
            </div>
            <div class="card__expiration">
               {{ month}} / {{ year.year }}
            </div>
            <div class="card__name">
              {{ card.card_name }}
            </div>
            <div class="card__type">
              
            </div>
          </div>
        </div>
        <div class="back">
          <div class="card">
            <div class="card__black"></div>
            <div class="card__skyblue"></div>
            <div class="card__cvv">
              XXX
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="tile is-parent">
  <form class="credit-card">
      <div class="form-header">
        <h4 class="title">Credit card detail</h4>
      </div>
     
      <div class="form-body">
        <!-- Card Number -->
        <input
              [(ngModel)] = "card.card_number"
              pattern="\d{4} \d{4} \d{4} \d{4}"
              maxlength="16"
              type="tel"
              class="input is-medium"
              placeholder="Card Number"
              [ngModelOptions]="{standalone: true}"><br><br>
        <input
              [(ngModel)] = "card.card_name"
              maxlength="26"
              type="text"
              class="input is-medium"
              placeholder="Card Owner"
              [ngModelOptions]="{standalone: true}">
        <!-- Date Field -->
        <div class="date-field">
          <div class="select">
            <select [(ngModel)] = "month" name="Month" #Month="ngModel">
              <option
                    *ngFor="let month of months" 
                    [value]="month">{{ month }}</option>
            </select>
          </div>
          <div class="select">
            <select [(ngModel)]="year.year" name="Year" #Year="ngModel">
              <option *ngFor="let year of year" [value]="year">{{ year }}</option>
            </select>
          </div>
        </div>
     
        <!-- Card Verification Field -->
        <div class="card-verification">
          <div class="cvv-input">
            <input
                  (keyup)="flipIt($event)"
                  class="input" 
                  type="text" 
                  placeholder="CVV">
          </div>
          <div class="cvv-details">
            <p>3 or 4 digits usually found <br> on the signature strip</p>
          </div>
        </div>
     
        <!-- Buttons -->
        <button type="submit" class="button is-large is-fullwidth is-dark">Checkout</button>
      </div>
    </form>
</div>