<div class="tile is-parent">
  <section class="container">
    <div class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="card">
            <div class="card__sim"></div>
            <div class="card__number">
              {{ card.card_number }}
            </div>
            <div class="card__little-number">
              1234
            </div>
            <div class="card__little-letter">
              Valid Thru
            </div>
            <div class="card__expiration">
              <div class="card__month">
                {{ card.card_month }}
              </div>
              <span>/</span>
              <div class="card__year">
                {{ card.card_year }}
              </div>
            </div>
            <div class="card__name">
              {{ card.card_name }}
            </div>
            <div class="card__type">
              
            </div>
          </div>
        </div>
        <div class="back">
          <div class="card">
            <div class="card__black"></div>
            <div class="card__skyblue"></div>
            <div class="card__cvv">
              XXX
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>