<div class="tile is-parent">
  <section class="container">
    <div class="flip-container" [class.flip]="flipped">
      <div class="flipper">
        <div class="front">
          <div class="card" [ngStyle]="{'background-color': color}">
            <div class="card__sim"></div>
            <div class="card__number">
                {{ cardNumberFormatted() }} 
            </div>
            <div class="card__little-number">
              1234
            </div>
            <div class="card__little-letter">
              Valid Thru
            </div>
            <div class="card__expiration">
               {{ month}} / {{ year.year }}
            </div>
            <div class="card__name">
              {{ card.card_name }}
            </div>
            <div class="card__type">
              <img *ngIf="url" [src]="url" alt="">
            </div>
          </div>
        </div>
        <div class="back">
          <div class="card" [ngStyle]="{'background-color': color}">
            <div class="card__black"></div>
            <div class="card__skyblue"></div>
            <div class="card__cvv">
              {{ card.card_cvc }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="tile is-parent">
  <form class="credit-card">
      <div class="form-header">
        <h4 class="title">Credit card detail</h4>
      </div>
     
      <div class="form-body">
        <!-- Card Number -->
        <input
              [(ngModel)] = "card.card_number"
              (click)="flipItY()"
              (keyup)="changeColor($event)"
              appNumbersOnlyInput
              maxlength="16"
              type="tel"
              class="input is-medium"
              placeholder="Card Number"
              [ngModelOptions]="{standalone: true}"><br><br>
        <input
              [(ngModel)] = "card.card_name"
              (click)="flipItY()"
              maxlength="14"
              type="text"
              class="input is-medium"
              placeholder="Card Owner"
              [ngModelOptions]="{standalone: true}">
        <!-- Date Field -->
        <div class="date-field">
          <div class="select">
            <select [(ngModel)] = "month" name="Month" #Month="ngModel">
              <option
                    *ngFor="let month of months" 
                    [value]="month">{{ month }}</option>
            </select>
          </div>
          <div class="select">
            <select [(ngModel)]="year.year" name="Year" #Year="ngModel">
              <option *ngFor="let year of year" [value]="year">{{ year }}</option>
            </select>
          </div>
        </div>
     
        <!-- Card Verification Field -->
        <div class="card-verification">
          <div class="cvv-input">
            <input
                  (click)="flipIt()"
                  [(ngModel)] = "card.card_cvc"
                  appNumbersOnlyInput
                  maxlength="4"
                  class="input" 
                  type="text" 
                  placeholder="CVV"
                  [ngModelOptions]="{standalone: true}">
          </div>
          <div class="cvv-details">
            <p>3 or 4 digits usually found <br> on the signature strip</p>
          </div>
        </div>
     
        <!-- Buttons -->
        <button (click)="show=!show" type="submit" class="button is-large is-fullwidth is-dark">Checkout</button>
      </div><br><br>
      <div *ngIf="show">
        <ul>
          <li>Credit Number: {{ card.card_number }}</li>
          <li>Owner: {{ card.card_name }}</li>
          <li>Expiry: {{ month }} - {{ year.year }}</li>
          <li>CVV: {{ card.card_cvc }}</li>
        </ul>
      </div>
    </form>
</div>